.container {
    margin: auto;
    max-width: 650px;
    font-family: poppins;
}

.heading {
    color: rebeccapurple;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: var(--color-text);
    text-decoration: none;
}

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 0.5rem 0;
}

.button {
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: var(--color-background);
    border: none;
}